body{
    font-family:'montserrat';
}
#title{
    background-color:#ff4c68;
    color:#fff;
}
h1{
    font-family:"Montserrat";
    font-size:3.5rem;
    line-height:1.5;
}
h2{
    font-family:"Montserrat";
    font-size:3rem;
    color:#fff;
}
p{
    color:grey;
}
.container-fluid{
    padding:3% 15% 7%;
}
.iphone{
    position:absolute;
    width:330px;
    transform: rotate(25deg);
    right:25%;
}

/* Navigation Bar */

.navbar-brand{
    font-family:"Ubuntu";
    font-size: 2rem;
    font-weight:bold;
}
.navbar{
    padding-bottom: 4.5rem;
}
.nav-item{
    padding:0 18px;
}
.nav-link{
    font-size:1.2rem;
}

/* Download Buttons */
.download-btn{
    margin:5% 3% 0 0;
    transition: .5s;
}
.download-btn:hover{
    box-shadow: 1px 1px 10px black;
}

/* features */
.icon{
    color:#ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color:#ff4c68;
}

#features{
    text-align:center;
    position:relative;
    z-index:1;
    background-color:#fff;
}
.feature-box{
    text-align:center;
    padding:5%;
    transition: box-shadow 1s;
}  
.feature-box:hover{
    box-shadow: 1px 1px 10px black;
}  

.carousel-item{
    padding:7% 15%;
    background-color:#ef8172;
    text-align: center;
}
.testimonial-image{
    width:10%;
    border-radius: 100%;
    margin:30px;
}

/* Press companies */

#press{
    background-color:#ef8172;
    padding-bottom:3%;
    text-align:center;
}
.press-img{
    width:15%;
    margin:20px 20px 50px;
}

/* Pricing */
#pricing{ 
    
    padding:100px;
}
#pricing h2{
    color:#000;
}

.card{
    text-align:center;
    
}
.price{
    padding:3% 2%;
}
.stacking{
    position:relative;
}

@media (max-width:990px){
    .iphone{
        position:static;
        transform: rotate(0);
        margin-top:1.5rem;
    }
    #title{
        text-align:center;
    }
}
#cta{
    background-color:#ff4c68;
    text-align:center;
    padding:7%;
    color:white;
}

.cta-heading{
    font-family: "montserrat";
    font-size:3rem;
    margin-bottom:30px;
    transition: color .25s;
}
.cta-heading:hover{
    color:black;
}

.footer-btn{
    transition: .5s;
}
.footer-btn:hover{
    box-shadow: 1px 1px 10px black;
}
#footer{
    text-align:center;
    padding:5%;
}
.footer-icon{
    padding:10px 15px;
}